@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Contrail+One&family=Nabla&display=swap');

/* GLOBAL */
* {
    /* border: 2px dotted red; */
}

body {

    /* display */
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;

    /* design */
    background-image: url(../images/body-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(0, 0, 0);

}

p:hover {

    /* design */
    font-size: larger;
    text-decoration: underline;
    transition: font-size 500ms ease-in 0ms, text-decoration 500ms ease-in 0ms;

}

/* MAIN */
.main--container {

    /* display */
    position: absolute;
    width: 50%;
    height: 100%;
    margin: 0 auto 0 auto;
    padding: auto 10px auto 10px;
    display: block;
    text-align: center;

    /* design */
    background-color: rgba(255, 247, 232, 0.899);
    box-shadow: 0px 0px 10px 10px rgba(255, 247, 232, 0.899);

}

.main--heading {

    /* design */
    font-family: 'Contrail One', cursive;
    font-size: 64px;
    opacity: 0.5;

}

/* PALETTE */
.combination--container {

    /* display */
    padding: 10px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    /* design */
    border: 2px solid black;
    border-radius: 50px;

}

.combination--container:hover {

    /* display */
    box-shadow: 0px 0px 10px 10px;
    transition: box-shadow 500ms linear 0ms;

}

.combination--heading {
    
    /* display */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 200px;
    height: 250px;

    /* design */
    font-family: 'Bebas Neue', cursive;
    border-radius: 30px;
    border: 2px solid black;

}

.combination--heading:hover {

    /* design */
    background-image: url(../images/combination.gif);
    background-size: cover;
    color: rgb(255, 255, 255);
    font-size: 26px;
    transition: font-size 500ms linear 0ms, color 500ms linear 0ms;

}

/* box 1 */
.combination--color-box-1 {

    /* design */
    font-family: 'Contrail One', cursive;
    
    /* display */
    width: 200px;
    height: 250px;
    display: block;
    margin: 5px;
    
}

.combination--color-box-1 .box {
    
    /* display */
    height: 48.5%;
    
}

.combination--color-box-1 .top p {
    
    /* display */
    margin: 0;
    padding: 5px;
    height: 100%;
    
    /* design */
    color: rgb(255, 255, 255);
    background-color: rgb(221,197,138);
    border-radius: 30px 30px 0 0;
    
}

.combination--color-box-1 .bottom p {

    /* display */
    margin: 0;
    padding: 5px;
    height: 100%;
     
    /* design */
    color: rgb(255, 255, 255);
    background-color: rgb(225,174,110);
    border-radius: 0 0 30px 30px;

}

/* box 2 */
.combination--color-box-2 {

    /* design */
    width: 200px;
    height: 250px;
    display: block;
    font-family: 'Contrail One', cursive;

    /* display */
    margin: 5px;
    
}

.combination--color-box-2 .box {
    
    /* display */
    height: 48.5%;

}

.combination--color-box-2 .top p {

    /* display */
    margin: 0;
    padding: 5px;
    height: 100%;
    
    /* design */
    color: rgb(255, 255, 255);
    background-color: rgba(197,144,81,255);
    border-radius: 30px 30px 0 0;
    
}

.combination--color-box-2 .bottom p {

    /* display */
    margin: 0;
    padding: 5px;
    height: 100%;
     
    /* design */
    color: rgb(255, 255, 255);
    background-color: rgba(153,142,98,255);
    border-radius: 0 0 30px 30px;

}

/* box 3 */
.combination--color-box-3 {

    /* design */
    width: 200px;
    height: 250px;
    display: block;
    font-family: 'Contrail One', cursive;

    /* display */
    margin: 5px;
    
}

.combination--color-box-3 .box {
    
    /* display */
    height: 48.5%;

}

.combination--color-box-3 .top p {

    /* display */
    margin: 0;
    padding: 5px;
    height: 100%;
    
    /* design */
    color: rgb(255, 255, 255);
    background-color: rgba(151,92,82,255);
    border-radius: 30px 30px 0 0;
    
}

.combination--color-box-3 .bottom p {

    /* display */
    margin: 0;
    padding: 5px;
    height: 100%;
     
    /* design */
    color: rgb(255, 255, 255);
    background-color: rgba(225,174,110,255);
    border-radius: 0 0 30px 30px;

}

/* box 4 */
.combination--color-box-4 {

    /* design */
    width: 200px;
    height: 250px;
    display: block;
    font-family: 'Contrail One', cursive;

    /* display */
    margin: 5px;
    
}

.combination--color-box-4 .box {
    
    /* display */
    height: 48.5%;

}

.combination--color-box-4 .top p {

    /* display */
    margin: 0;
    padding: 5px;
    height: 100%;
    
    /* design */
    color: rgb(255, 255, 255);
    background-color: rgba(238,224,182,255);
    border-radius: 30px 30px 0 0;
    
}

.combination--color-box-4 .bottom p {

    /* display */
    margin: 0;
    padding: 5px;
    height: 100%;
     
    /* design */
    color: rgb(255, 255, 255);
    background-color: rgba(100,118,0,255);
    border-radius: 0 0 30px 30px;

}

/* box 5 */
.combination--color-box-5 {

    /* design */
    width: 200px;
    height: 250px;
    display: block;
    font-family: 'Contrail One', cursive;

    /* display */
    margin: 5px;
    
}

.combination--color-box-5 .box {
    
    /* display */
    height: 48.5%;

}

.combination--color-box-5 .top p {

    /* display */
    margin: 0;
    padding: 5px;
    height: 100%;
    
    /* design */
    color: rgb(255, 255, 255);
    background-color: rgba(146,160,167,255);
    border-radius: 30px 30px 0 0;
    
}

.combination--color-box-5 .bottom p {

    /* display */
    margin: 0;
    padding: 5px;
    height: 100%;
     
    /* design */
    color: rgb(255, 255, 255);
    background-color: rgba(225,174,110,255);
    border-radius: 0 0 30px 30px;

}

/* box 6 */
.combination--color-box-6 {

    /* design */
    width: 200px;
    height: 250px;
    display: block;
    font-family: 'Contrail One', cursive;

    /* display */
    margin: 5px;
    
}

.combination--color-box-6 .box {
    
    /* display */
    height: 48.5%;

}

.combination--color-box-6 .top p {

    /* display */
    margin: 0;
    padding: 5px;
    height: 100%;
    
    /* design */
    color: rgb(255, 255, 255);
    background-color: rgba(69,82,98,255);
    border-radius: 30px 30px 0 0;
    
}

.combination--color-box-6 .bottom p {

    /* display */
    margin: 0;
    padding: 5px;
    height: 100%;
     
    /* design */
    color: rgb(255, 255, 255);
    background-color: rgba(164,186,192,255);
    border-radius: 0 0 30px 30px;

}

/* box 7 */
.combination--color-box-7 {

    /* design */
    width: 200px;
    height: 250px;
    display: block;
    font-family: 'Contrail One', cursive;

    /* display */
    margin: 5px;
    
}

.combination--color-box-7 .box {
    
    /* display */
    height: 48.5%;

}

.combination--color-box-7 .top p {

    /* display */
    margin: 0;
    padding: 5px;
    height: 100%;
    
    /* design */
    color: rgb(255, 255, 255);
    background-color: rgba(177,187,134,255);
    border-radius: 30px 30px 0 0;
    
}

.combination--color-box-7 .bottom p {

    /* display */
    margin: 0;
    padding: 5px;
    height: 100%;
     
    /* design */
    color: rgb(255, 255, 255);
    background-color: rgba(197,144,81,255);
    border-radius: 0 0 30px 30px;

}

/* box 8 */
.combination--color-box-8 {

    /* design */
    width: 200px;
    height: 250px;
    display: block;
    font-family: 'Contrail One', cursive;

    /* display */
    margin: 5px;
    
}

.combination--color-box-8 .box {
    
    /* display */
    height: 48.5%;

}

.combination--color-box-8 .top p {

    /* display */
    margin: 0;
    padding: 5px;
    height: 100%;
    
    /* design */
    color: rgb(255, 255, 255);
    background-color: rgba(100,118,0,255);
    border-radius: 30px 30px 0 0;
    
}

.combination--color-box-8 .bottom p {

    /* display */
    margin: 0;
    padding: 5px;
    height: 100%;
     
    /* design */
    color: rgb(255, 255, 255);
    background-color: rgba(147,170,138,255);
    border-radius: 0 0 30px 30px;

}

