@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Contrail+One&family=Nabla&display=swap');
/* GLOBAL */
* {

    /* border: 2px dotted red; */

}


body {

    /* display */
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;

    /* design */
    background-image: url(../images/body-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(0, 0, 0);

}

/* MAIN */
.main--container {

    /* display */
    position: absolute;
    width: 50%;
    height: 100%;
    margin: 0 auto 0 auto;
    padding: auto 10px auto 10px;
    display: block;
    text-align: center;

    /* design */
    background-color: rgba(255, 247, 232, 0.899);
    box-shadow: 0px 0px 0px 0px;

}

.main--heading {

    /* design */
    font-family: 'Contrail One', cursive;
    font-size: 64px;

}

/* PALETTE */
.palette--container {

    /* display */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* design */
    border: 2px solid black;

}

/* box 1 */
.palette--color-box-1 {

    /* design */
    width: 200px;
    height: 250px;
    display: block;
    font-family: 'Contrail One', cursive;
    
}

.palette--color-box-1 .box {
    
    /* display */
    height: 48.5%;

}

.palette--color-box-1 .top p {

    /* display */
    margin: 0;
    padding: 5px;
    height: 100%;
    
    /* design */
    color: rgb(255, 255, 255);
    background-color: rgb(221,197,138);
    
}

.palette--color-box-1 .bottom p {

    /* display */
    margin: 0;
    padding: 5px;
    height: 100%;
     
    /* design */
    color: rgb(255, 255, 255);
    background-color: rgb(225,174,110);

}

/* box 2 */
.palette--color-box-2 {

    /* design */
    width: 200px;
    height: 250px;
    display: block;
    font-family: 'Contrail One', cursive;
    margin: 0 10px 0 10px;
    
}

.palette--color-box-2 .box {
    
    /* display */
    height: 48.5%;

}

.palette--color-box-2 .top p {

    /* display */
    margin: 0;
    padding: 5px;
    height: 100%;
    
    /* design */
    color: rgb(255, 255, 255);
    background-color: rgba(197,144,81,255);
    
}

.palette--color-box-2 .bottom p {

    /* display */
    margin: 0;
    padding: 5px;
    height: 100%;
     
    /* design */
    color: rgb(255, 255, 255);
    background-color: rgba(153,142,98,255);

}